<!DOCTYPE HTML>

 <html>
{% load static %}
    <head>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->

        <meta name="description" content="">

        <meta name="author" content="">

        

        <title>: : ChooStart | About : :</title>

		<!-- <link rel="shortcut icon" href="{% static '/main/images/favicon.ico' %}" type="image/x-icon"> -->



        <!-- style -->

        <link href="{% static '/main/css/style.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/main/css/custom.css' %}" rel="stylesheet" type="text/css">

        <!-- style -->

        <!-- bootstrap -->

        <link href="{% static '/main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <!-- responsive -->

        <link href="{% static '/main/css/responsive.css' %}" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        <link href="{% static '/main/css/fonts.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/main/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        

	</head>



    <body>

    

    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->

                    	<h1>

                        	<a href="/" title="avana LLC"><img src="{% static '/main/images/logo.png' %}" title="avana LLC" alt="avana LLC"/></a>

                        </h1>

                    <!-- logo -->

                    <!-- nav -->

                    <nav role="header-nav" class="navy">

                        <ul>

                            <li><a href="/" title="Work">Work</a></li>

                            <li class="nav-active"><a href="/about" title="About">About</a></li>

                            <!-- <li><a href="/blog" title="Blog">Blog</a></li> -->

                            <li><a href="/contact" title="Contact">Contact</a></li>

                        </ul>

                    </nav>

                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>關於我們</span></h2>

                        </header>

                        <!-- <p>Over 40,000 customers use our themes to power their websites and we love them.</p> -->

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                    	<p>ChooStart創立的原因，就是因為觀察到目前的理財方式皆有其優缺點，且創立者本身為學生身分，可投資之資金不多，期望有一可信賴且成本不高的投資管道，因此以理財機器人的核心技術進行分析，並改善現有的投資管道、方式的不足，建構一個可供投資人選擇好投資標的（股票、基金），且投資人所需花費的成本較低的平台。</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan">

                    	<!-- <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                        	<figure>

                            	<img src="{% static '/main/images/about-images/about-image-1.jpg' %}" class="img-responsive"/>

                            	<figcaption>

                                	<h3>John Doe</h3>

                                    <h5>The designer</h5>

                                </figcaption>

                            </figure>

                        </section> -->

                        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                        	<figure>

                            	<img src="{% static '/main/images/about-images/about-image-2.jpg' %}" class="img-responsive"/>

                            	<figcaption>

                                	<h3>Yi-Ying, Huang</h3>

                                    <h5>The Founder</h5>

                                </figcaption>

                            </figure>

                        </section>

                        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                        	<figure>

                            	<img src="{% static '/main/images/about-images/about-image-3.jpg' %}" class="img-responsive"/>

                            	<figcaption>

                                	<h3>Liang-Yun, Lin</h3>

                                    <h5>The Founder</h5>

                                </figcaption>

                            </figure>

                        </section>

                        

                     

                    </div>

                <!-- thumbnails -->

                

                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <footer role="footer">

            <!-- logo -->

                <h1>

                    <a href="/" title="avana LLC"><img src="{% static '/main/images/logo.png' %}" title="avana LLC" alt="avana LLC"/></a>

                </h1>

            <!-- logo -->

            <!-- nav -->

            <nav role="footer-nav">

            	<ul>

                	<li><a href="/" title="Work">Work</a></li>

                    <li><a href="about" title="About">About</a></li>

                    <!-- <li><a href="blog" title="Blog">Blog</a></li> -->

                    <li><a href="contact" title="Contact">Contact</a></li>

                </ul>

            </nav>

            <!-- nav -->

            <!-- <ul role="social-icons">

            	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>

            </ul>
 -->
            <p class="copy-right">&copy; 2018  ChooStart. All rights Reserved</p>

        </footer>

        <!-- footer -->

    

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="{% static '/main/js/jquery.min.js' %}" type="text/javascript"></script>

        <!-- custom -->

		<script src="{% static '/main/js/nav.js' %}" type="text/javascript"></script>

        <script src="{% static '/main/js/custom.js' %}" type="text/javascript"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="{% static '/main/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- jquery.countdown -->

        <script src="{% static '/main/js/html5shiv.js' %}" type="text/javascript"></script>

    </body>

</html>