<!DOCTYPE HTML>

 <html>
{% load static %}
{% csrf_token %}
    <head>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->

        <meta name="description" content="">

        <meta name="author" content="">

        

        <title>: : ChooStart : :</title>

		<!-- <link rel="shortcut icon" href="{% static '/main/images/favicon.ico' %}" type="image/x-icon"> -->



        <!-- style -->

        <link href="{% static '/main/css/style.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/main/css/custom.css' %}" rel="stylesheet" type="text/css">

        <!-- style -->

        <!-- bootstrap -->

        <link href="{% static '/main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <!-- responsive -->

        <link href="{% static '/main/css/responsive.css' %}" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        <link href="{% static '/main/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- font-awesome -->

        <link href="{% static '/main/css/effects/set2.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/main/css/effects/normalize.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/main/css/effects/component.css' %}"  rel="stylesheet" type="text/css" >

	</head>



    <body style="background-image: url('{% static 'main/images/background.jpg' %}');">

    <!-- <img class="background_img" src="{% static 'main/images/background.jpg' %}"> -->
    <!-- <div class="background_img"></div> -->

    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->

                    	<h1>

                        	<a href="/" title="avana LLC"><img src="{% static 'main/images/logo.png' %}" title="avana LLC" alt="avana LLC"/></a>

                        </h1>

                    <!-- logo -->

                    <!-- nav -->

                    <nav role="header-nav" class="navy">

                        <ul>

                            <li class="nav-active"><a href="/" title="Work">Work</a></li>

                            <li><a href="/about" title="About">About</a></li>

                            <!-- <li><a href="/blog" title="Blog">Blog</a></li> -->

                            <li><a href="/contact" title="Contact">Contact</a></li>

                        </ul>

                    </nav>

                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->

        <main role="main-home-wrapper" class="container">
    

<!-- ###################################################################################### -->
            
            
<!-- ###################################################################################### -->

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<article role="pge-title-content">

                    	<header>

                        	<!-- <h2><span>Choostart</span>Start to Choose the Stock for You</h2> -->
                            <h2><span>Choostart</span></h2>
                            <h3 class="">Start to Choose the Stock</h3>

                        </header>
                        <!-- <p>Start to Choose the Stock for You</p> -->

                    </article>

                </section>

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                    <h3>條件設定</h3>

                    <!-- <div class="dropdown_gp">

                        <label>標的數量</label>

                        <div class="btn_gp">

                            <button class="btn_dropdown" id="item_btn">請選擇</button>

                            <ul class="dropdown_menu" id="item_num"></ul>

                        </div>

                    </div> -->
                <form method="get" accept-charset="utf-8" class="condition_form">
                
                    <div class="dropdown_gp">

                        <label>預估報酬率</label>

                        <select class="btn_gp" id="rtn_btn">

                            <!-- <button class="btn_dropdown" id="rtn_btn">請選擇</button>

                            <ul class="dropdown_menu" id="rtn_list"></ul> -->

                            <!-- <button class="btn_dropdown" id="time_btn">請選擇</button>

                            <ul class="dropdown_menu" id="time_list"></ul> -->
                            <option value='0-10'>0%-10%</option>
                            <option value='10-20'>10%-20%</option>
                            <option value='20-30'>20%-30%</option>
                            <option value='30-40'>30%-40%</option>
                            <option value='40-50'>40%-50%</option>
                            <option value='50-600'>50%以上</option>


                        </select>

                    </div>

                    <div class="dropdown_gp">

                        <label>預測期間</label>

                        <select class="btn_gp" id="time_btn">

                            <!-- <button class="btn_dropdown" id="time_btn">請選擇</button>

                            <ul class="dropdown_menu" id="time_list"></ul> -->
                            <option value=5>單週</option>
                            <option value=10>雙週</option>
                            <option value=20>1個月</option>
                            <option value=60>1季</option>

                        </select>

                    </div>
                </form>
                    <!-- <div class="interval_gp">

                        <label>股價區間</label> -->

                        <!-- https://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_slider_range -->
                        <!-- <div data-role="main" class="ui-content">
                            <form method="post" action="/action_page_post.php">
                                <div data-role="rangeslider">
                                    <label for="price-min">Price:</label>
                                    <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                                    <label for="price-max">Price:</label>
                                    <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                                </div>
                                <input type="submit" data-inline="true" value="Submit">
                            </form>
                        </div>
                    </div> -->

                    <!-- http://www.tse.com.tw/zh/news/newsDetail/?id=606 26類股 -->
                    <!-- <div class="dropdown_gp">

                        <label>產業類別</label>

                        <select class="btn_gp">

                            <button class="btn_dropdown" id="time_btn">請選擇</button>

                            <ul class="dropdown_menu" id="industry_cate"></ul>
                            <option value=5>單週</option>
                            <option value=10>雙週</option>
                            <option value=20>1個月</option>
                            <option value=60>1季</option>

                        </select>

                    </div> -->

                    <!-- <button id="submit_btn">送出</button> -->


<!-- ###################################################################################### -->

                    <a class='submit_btn' id='filt_link' href="{% url 'indexs' '0-10' 5 %}">篩選標的</a>
                    
<!-- ###################################################################################### -->


                </section>                

                <!-- <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'main/images/home-images/image-1.jpg' %}" alt="" class="img-responsive"/>

                        <figcaption>

                        	<h2>Eliana Dedda<span> Identity</span></h2>

							<p>Personal Brand Identity.</p>

							<a href="works_details">View more</a>

                        </figcaption>

                    </figure>

                </section> -->

                

                <div class="clearfix"></div>

                    <div class="row">
                        {% if result  %}
                            {% for data in result %}
                            <div class="col-sm-12 col-md-6">
                                <div class="card text-center item_display">
                                    <a href="/works_details/" class="card-body item_link">
                                        <div class="card-header">
                                            <strong>{{data.items_code}}</strong> {{data.items_name}}
                                        </div>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title">產業類別：{{data.items_category}}</h4> -->
                                            <h4 class="item_industry">{{data.items_category}}</h4>
                                            <h4 class="item_date">{{data.items_time}}</h4>
                                            <!-- <h4 class="card-title">代碼：{{data.items_code}}</h4> -->
                                            <!-- <h5 class="card-title">報酬率：{{data.items_rtn}} %</h5> -->
                                            <div class="detail_info">觀看詳細資料</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h1 class="condition_none">無符合條件標的，請重新選擇！</h1>
                        {% endif %}
                    </div>

                <div class="clearfix"></div>

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <footer role="footer">

            <!-- logo -->

                <h1>

                    <a href="index" title="avana LLC"><img src="{% static 'main/images/logo.png' %}" title="avana LLC" alt="avana LLC"/></a>

                </h1>

            <!-- logo -->

            <!-- nav -->

            <nav role="footer-nav">

            	<ul>

                	<li><a href="index" title="Work">Work</a></li>

                    <li><a href="about" title="About">About</a></li>

                    <!-- <li><a href="blog" title="Blog">Blog</a></li> -->

                    <li><a href="contact" title="Contact">Contact</a></li>

                </ul>

            </nav>

            <!-- nav -->

            <!-- <ul role="social-icons">

            	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>

            </ul> -->

            <p class="copy-right">&copy; 2018  ChooStart. All rights Reserved</p>

        </footer>

        <!-- footer -->

    

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'main/js/jquery.min.js' %}" type="text/javascript"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.map"></script> -->
        <!-- custom -->

		<script src="{% static 'main/js/nav.js' %}" type="text/javascript"></script>

        <script src="{% static 'main/js/condition.js' %}" type="text/javascript"></script>

        <script src="{% static 'main/js/custom.js' %}" type="text/javascript"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="{% static 'main/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <script src="{% static 'main/js/effects/masonry.pkgd.min.js' %}"  type="text/javascript"></script>

		<script src="{% static 'main/js/effects/imagesloaded.js' %}"  type="text/javascript"></script>

		<script src="{% static 'main/js/effects/classie.js' %}"  type="text/javascript"></script>

		<script src="{% static 'main/js/effects/AnimOnScroll.js' %}"  type="text/javascript"></script>

        <script src="{% static 'main/js/effects/modernizr.custom.js' %}"></script>

        <!-- jquery.countdown -->

        <script src="{% static 'main/js/html5shiv.js' %}" type="text/javascript"></script>

    </body>

</html>